---
import Button from "../components/Button.astro";
import AppleIcon from "../components/icons/Apple.astro";
import GoogleIcon from "../components/icons/Google.astro";
import OutlookIcon from "../components/icons/Outlook.astro";
import Layout from "../layouts/Layout.astro";

import { Calendar } from '@lucide/astro';

const { site } = Astro;

const getIcon = (iconName: string, props = {}) => {
  switch (iconName) {
    case "apple": return { component: AppleIcon, props: { class: "-mt-0.5", ...props } };
    case "google": return { component: GoogleIcon, props };
    case "outlook": return { component: OutlookIcon, props };
    case "calendar": return { component: Calendar, props: { "stroke-width": 3, ...props }};
  }
}

const links = [
  {
    title: "Kalendarz Apple",
    icon: "apple",
    iconClass: "-mt-0.5",
    href: `webcal://${site!.hostname}/schedule.ics`,
  },
  {
    title: "Kalendarz Google",
    // https://interactiondesignfoundation.github.io/add-event-to-calendar-docs/services/google.html
    // https://calendar.google.com/calendar/render?action=TEMPLATE&text=Event%20Title&add=foo@bar.com&location=Tel%20Aviv&details=Your%20Details...
    href: `#`,
    icon: "google",
    props: {
      disabled: true
    }
  },
  {
    title: "Kalendarz Outlook",
    href: `https://outlook.live.com/calendar/0/addcalendar?url=${encodeURIComponent(`https://${site!.hostname}/schedule.ics`)}`,
    icon: "outlook",
    props: {
      disabled: true
    }
  },
  {
    title: "Link do pliku .ics",
    href: `/schedule.ics`,
    icon: "calendar",
  },
]
---

<Layout>
  <header class="flex flex-col gap-3">
    <h1 class="tracking-[-0.0375em] text-pretty text-neutral-900 max-w-4xl text-2xl sm:text-4xl/[1.2] md:text-5xl/[1.2] font-semibold">
      Harmonogram odbioru odpadów na terenie gminy Boguty-Pianki, bezpośrednio w Twoim kalendarzu.
    </h1>

    <p class="text-gray-700 text-pretty text-lg/7 sm:text-xl/8 font-medium">
      Nigdy więcej nie przegap dnia odbioru śmieci. Zsynchronizuj harmonogram z kalendarzem i otrzymuj powiadomienia w twoim telefonie.
    </p>
  </header>

  <section class="bg-gray-50/50 rounded-xl p-6 w-full border border-gray-200 flex flex-col gap-6">
    <h2 class="text-lg text-gray-800">Aby dodać harmonogram do kalendarza, wciśnij guzior.</h2>

    <nav class="flex flex-col lg:flex-row lg:justify-between gap-3 flex-1 w-full lg:w-auto">
      {links.map((link) => {
        const iconData = getIcon(link.icon);
        if (iconData) {
          const { component: Icon, props } = iconData;

          return (
            <Button href={link.href} size="fat" variant="outline" class="" data-disabled="true" {...link.props}>
              <Icon {...props} />
              {link.title}
            </Button>
          );
        }
      })}
    </nav>
  </section>

  <footer class="text-gray-500 text-xs w-full">
    <p class="flex flex-col gap-1">
      <span>
        Dane wygenerowane na podstawie harmonogramu ze
        <Button class="text-xs" size="slim" variant="link" href="https://boguty-pianki.pl" target="_blank" rel="noopener noreferrer">
          strony internetowej Urzędu Gminy Boguty-Pianki
        </Button>
      </span>
      <span>
        Autor projektu: <Button class="text-xs" size="slim" variant="link" href="https://zochow.ski" target="_blank" rel="noopener noreferrer">zochow.ski</Button>
      </span>
    </p>
  </footer>
</Layout>
