---
import { cn } from '../lib/utils';

interface Props {
  text: string;
  position?: 'top' | 'bottom' | 'left' | 'right';
  class?: string;
}

const {
  text,
  position = 'top',
  class: className
} = Astro.props;


const positionClasses = {
  top: 'bottom-full left-1/2 -translate-x-1/2 mb-2',
  bottom: 'top-full left-1/2 -translate-x-1/2 mt-2',
  left: 'right-full top-1/2 -translate-y-1/2 mr-2',
  right: 'left-full top-1/2 -translate-y-1/2 ml-2',
};

const arrowClasses = {
  top: 'top-full left-1/2 -translate-x-1/2 border-l-transparent border-r-transparent border-b-transparent border-t-background',
  bottom: 'bottom-full left-1/2 -translate-x-1/2 border-l-transparent border-r-transparent border-t-transparent border-b-background',
  left: 'left-full top-1/2 -translate-y-1/2 border-t-transparent border-b-transparent border-r-transparent border-l-background',
  right: 'right-full top-1/2 -translate-y-1/2 border-t-transparent border-b-transparent border-l-transparent border-r-background',
};
---

<div class="relative flex">
  <slot />

  <span
    role="tooltip"
    class={cn(
      "pointer-events-none absolute z-50 whitespace-nowrap rounded-md bg-background px-3 py-1.5 text-xs text-foreground shadow-md",
      "opacity-0 invisible transition-all duration-200",
      "peer-hover/tooltip:opacity-100 peer-hover/tooltip:visible",
      "peer-active/tooltip:opacity-100 peer-active/tooltip:visible",
      positionClasses[position]
    )}
  >
    {text}

    <span
      class={cn(
        "absolute w-0 h-0 border-4",
        arrowClasses[position]
      )}
      aria-hidden="true"
    >
    </span>
  </span>

</div>
